In [1]:
#for loop , while loop

In [2]:
#for loop

In [3]:
my_list = [10,20,30,40,50,60,70]

In [4]:
for num in my_list:
    print(num)

10
20
30
40
50
60
70

In [5]:
for x in my_list:
    new_number = x / 5 * 2
    print(new_number)
print("For loop ended")

4.0
8.0
12.0
16.0
20.0
24.0
28.0
For loop ended

In [6]:
for bolme in my_list:
    if bolme % 6 == 0:
        print(bolme)

30
60

In [7]:
my_string = "atil samancioglu"

In [8]:
for c in my_string:
    print(c)

a
t
i
l

s
a
m
a
n
c
i
o
g
l
u

In [9]:
my_tuple = (10,20,30,40,50,60,70)

In [10]:
for num in my_tuple:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [11]:
my_tuple

(10, 20, 30, 40, 50, 60, 70)

In [12]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [13]:
len(my_new_list)

4

In [14]:
my_new_list[0]

('a', 'b')

In [15]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [16]:
# tuple unpacking

In [17]:
my_new_list[0][1]

'b'

In [18]:
for (x,y) in my_new_list:
    print(x)

a
c
e
g

In [19]:
my_tuple_list = [(0,1,2),(3,4,5),(6,7,8),(9,10,11)]

In [20]:
for (x,y,z) in my_tuple_list:
    print(x)

0
3
6
9

In [21]:
my_set = {1,2,3,4,5}

In [22]:
for num in my_set:
    print(num)

1
2
3
4
5

In [23]:
my_dictionary = {"k1":100,"k2":200,"k3":300}

In [24]:
for element in my_dictionary:
    print(element)

k1
k2
k3

In [25]:
my_dictionary.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [26]:
for (key,value) in my_dictionary.items():
    print(key)

k1
k2
k3

In [27]:
for num in my_dictionary.values():
    print(num)

100
200
300

In [28]:
# continue - break - pass

In [29]:
my_list = [10,20,30,40,50,60,70]

In [30]:
print("for loop started")
for num in my_list:
    print(num)
print("for loop ended")

for loop started
10
20
30
40
50
60
70
for loop ended

In [31]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")
        break;

10
20
30
40
yes

In [32]:
for number in my_list:
    print(number)
    if number == 40:
        continue;
        print("yes")

10
20
30
40
50
60
70

In [33]:
for num in my_list:
    pass
# pass bu komutu atla gibi sonra bakarız bi daha

In [34]:
#while (şu olursa anlamı katıyor)

In [40]:
x = 0

In [41]:
print("While loop started")
while x < 10:
    print(x)
    x = x+1
print("While loop ended")

While loop started
0
1
2
3
4
5
6
7
8
9
While loop ended

In [46]:
last_list = [10,20,30,40,50]

In [47]:
while 20 in last_list:
    print("20 in last_list")
    last_list.pop()  #pop son elemanı çıkarıyor

20 in last_list
20 in last_list
20 in last_list
20 in last_list

In [48]:
my_list = [10,20,30]

In [49]:
my_list

[10, 20, 30]

In [50]:
print(f"my list : {my_list}")

my list : [10, 20, 30]

In [53]:
name = input("enter name: ")

enter name: eren

In [54]:
print(f"welcome: {name}")

welcome: eren

In [56]:
print("welcome:",name)

welcome: eren

In [59]:
p = 0
while p < 20:
    print(f"value of p: {p}")
    p +=1

value of p: 0
value of p: 1
value of p: 2
value of p: 3
value of p: 4
value of p: 5
value of p: 6
value of p: 7
value of p: 8
value of p: 9
value of p: 10
value of p: 11
value of p: 12
value of p: 13
value of p: 14
value of p: 15
value of p: 16
value of p: 17
value of p: 18
value of p: 19