In [1]:
# method function

In [2]:
my_name = "atil"

In [3]:
my_name.upper()

'ATIL'

In [4]:
my_name

'atil'

In [5]:
my_name_upper = my_name.upper()

In [6]:
my_name_upper

'ATIL'

In [7]:
help(my_name.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [8]:
# functions

In [11]:
def hello_python():
    print("hello")
    print("python")
hello_python()

hello
python

In [12]:
# input

In [14]:
def hello_name(name):
    print("hello")
    print(name)
hello_name("eren")

hello
eren

In [16]:
def sum_Exaple(num1 , num2): #sum toplama fonksiyonudur
    print(num1 + num2)
sum_Exaple(5,10)

15

In [18]:
def hello_surname(surname = "karakus"): 
    print("hello")
    print(surname)
hello_surname("sam")
hello_surname()
# fonksiyon içinde default olarak değer verenilirsin

hello
sam
hello
karakus

In [19]:
#return

In [21]:
def summation(num1,num2,num3):
    x = (num1 + num2 + num3)
    return x
summation(5,8,2)

15

In [23]:
def control_string(s):
    if s[0] == "a":
        print("a")
control_string("atlas")
control_string("eren")

a

In [24]:
#args , kwargs (arguments , key word arguments)

In [25]:
def args_sum(*args): # args istediğin kadar sayı girmeni sağlar
    return sum(args)

In [26]:
args_sum(10,20,30,40,50)

150

In [27]:
def args_examples(*args):
    print(args)
args_examples(13512,516485,"asda")

(13512, 516485, 'asda')

In [28]:
def kwargs_example(**kwargs):
    print(kwargs)
kwargs_example(apple = 100,banana = 150, melon = 200)

{'apple': 100, 'banana': 150, 'melon': 200}

In [34]:
def kwargs_example_2(**kwargs):
    if "apple" in kwargs:
        print("appleeeeeeeee")
    else:
        print(":(")
kwargs_example_2(apple = 10 , banana = 15)
kwargs_example_2(banan = 111)

appleeeeeeeee
:(