In [3]:
import pandas as pd
import numpy as np

In [4]:
#series

In [5]:
my_dict = {"James":50, "Lars": 60, "Kirk": 55, "Rob": 65}

In [12]:
pd.Series(my_dict)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [13]:
age_list = [50,60,55,65]
name_list = ["James","Lars","Kirk","Rob"]

In [14]:
pd.Series(age_list, name_list)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [15]:
pd.Series(data = age_list, index =name_list)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [16]:
numpy_array = np.arange(0,8)

In [17]:
pd.Series(numpy_array)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32

In [18]:
new_numpy_array = [10,20,30,40]
pd.Series(new_numpy_array)

0    10
1    20
2    30
3    40
dtype: int64

In [19]:
new_numpy_array

[10, 20, 30, 40]

In [20]:
name_list

['James', 'Lars', 'Kirk', 'Rob']

In [21]:
pd.Series(new_numpy_array, name_list)

James    10
Lars     20
Kirk     30
Rob      40
dtype: int64

In [22]:
my_series = pd.Series(new_numpy_array, name_list)

In [23]:
my_series

James    10
Lars     20
Kirk     30
Rob      40
dtype: int64

In [24]:
type(my_series)

pandas.core.series.Series

In [25]:
my_series["Kirk"]

30

In [30]:
my_series["Kirk"] = 60

In [31]:
my_series

James    10
Lars     20
Kirk     60
Rob      40
dtype: object

In [47]:
quiz_results1 = pd.Series(data = [70,60,100], index = ["A","B","C"])

In [48]:
quiz_results2 = pd.Series(data = [80,30,50], index = ["A","B","C"])

In [49]:
quiz_results1

A     70
B     60
C    100
dtype: int64

In [50]:
quiz_results2

A    80
B    30
C    50
dtype: int64

In [51]:
quiz_results1 + quiz_results2

A    150
B     90
C    150
dtype: int64

In [53]:
exam_results1 = pd.Series(data = [70,60,100], index = ["A","B","C"])
exam_results2 = pd.Series(data = [80,30,50], index = ["A","D","C"])

In [54]:
exam_results1 + exam_results2

A    150.0
B      NaN
C    150.0
D      NaN
dtype: float64