In [1]:
import pandas as pd
import numpy as np

In [2]:
dataFrame = pd.read_excel("27-SalarySheet.xlsx")

In [3]:
dataFrame

       Employee Name            Department       Title  Salary
0       Semaj Bowers             Marketing         Mid     600
1        Gary Foster                 Sales         Mid     650
2   Saniya Maldonado                    HR         Mid     600
3     Jillian Zuniga                    HR     C-level    1000
4      Courtney Mora                 Sales         Mid     550
..               ...                   ...         ...     ...
95          Jake Gay                 Sales      Junior     443
96      Macy Webster               Finance     C-level    1250
97     Jaquan Meyers             Marketing  Mid-Senior     800
98       Willow Bush  Software Development      Junior     441
99   Emmanuel Prince                 Sales         Mid     612

[100 rows x 4 columns]

In [4]:
#1) Toplamda kaç satır veri vardır?

In [17]:
dataFrame.describe()

            Salary
count   100.000000
mean    725.840000
std     248.957816
min     350.000000
25%     547.500000
50%     700.000000
75%     900.000000
max    1900.000000

In [6]:
#2) Bu firma ortalama ne kadar maaş vermektedir?

In [21]:
dataFrame["Salary"].mean()

725.84

In [8]:
#3) Bu firmada departmanlara göre ortalama maaş karşılaştırması nasıldır?

In [25]:
departmant_group = dataFrame.groupby("Department")

In [27]:
departmant_group["Salary"].mean()

Department
Finance                 805.411765
HR                      640.937500
Marketing               707.000000
Sales                   656.666667
Software Development    826.409091
Name: Salary, dtype: float64

In [24]:
#4) Bu firmada title (senior - junior) durumuna göre ortalama maaş karşılaştırması nasıldır?

In [28]:
title_group = dataFrame.groupby("Title")

In [30]:
title_group["Salary"].mean()

Title
C-level       1058.333333
Junior         440.625000
Mid            641.450000
Mid-Senior     725.500000
Senior         867.777778
Name: Salary, dtype: float64

In [12]:
#5) Senior bir kişinin junior bir kişiye göre maaşı ortalama yüzde kaç fazladır?

In [31]:
867.77 / 440.625

1.9694070921985816

In [14]:
#6) Software development departmanında senior bir kişinin junior bir kişiye göre maaşı ortalama ne kadar fazladır?

In [45]:
dataFrame.loc[dataFrame["Department"] == "Software Development"].groupby("Title").mean()

TypeError: Could not convert Travis MorrisonSullivan BestJavier WoodKelton TylerLinda DavidJefferson Cannon to numeric

In [16]:
#7) Finance departmanında c-level bir kişinin mid-senior bir kişiye göre maaşı ortalama ne kadar fazladır?

In [17]:
# cevap

In [18]:
#8) Software development departmanında c-level çalışan sayısı marketing departmanında çalışana oranla kaç kat fazladır?

In [46]:
dataFrame.loc[dataFrame["Department"] == "Software Development"].groupby("Title").describe()

           Salary                                                           \
            count         mean         std    min     25%     50%      75%
Title
C-level       6.0  1183.333333  371.034590  900.0  950.00  1100.0  1175.00
Junior        3.0   430.333333   26.652079  400.0  420.50   441.0   445.50
Mid           3.0   633.333333  202.072594  450.0  525.00   600.0   725.00
Mid-Senior    6.0   718.333333   69.402209  600.0  700.00   725.0   757.50
Senior        4.0   895.000000   57.300378  815.0  878.75   907.5   923.75


               max
Title
C-level     1900.0
Junior       450.0
Mid          850.0
Mid-Senior   800.0
Senior       950.0

In [48]:
dataFrame.loc[dataFrame["Department"] == "Marketing"].groupby("Title").describe()

           Salary                                                            \
            count         mean         std     min     25%     50%      75%
Title
C-level       2.0  1125.000000  176.776695  1000.0  1062.5  1125.0  1187.50
Junior        3.0   461.333333   25.423087   439.0   447.5   456.0   472.50
Mid           6.0   637.833333   74.351642   550.0   600.0   612.5   681.25
Mid-Senior    4.0   675.000000  125.830574   500.0   650.0   700.0   725.00
Senior        3.0   855.000000  221.528779   600.0   782.5   965.0   982.50


               max
Title
C-level     1250.0
Junior       489.0
Mid          752.0
Mid-Senior   800.0
Senior      1000.0